<html>
    <head>    
        <title> Eleventy + Netfly CMS Blog Example </title>
    </head>

    <body>
        <h1>
         Eleventy + Netfly CMS Blog Example 
        </h1>

        {{content | safe }}

    </body>
</html>